MONGO_INITDB_ROOT_USERNAME=initdbrootusername
MONGO_INITDB_ROOT_PASSWORD=initdbrootpassword
MONGO_DATABASE=dpassport
MONGO_DATABASE_USERNAME=dpassportusername
MONGO_DATABASE_PASSWORD=dpassportpassword
MONGO_HOST=localhost
MONGO_CONTAINER_NAME=dpassport-mongo
TWFIDO_SERVICE_ID=TWFIDO_SERVICE_ID
TWFIDO_API_KEY=TWFIDO_API_KEY
TWFIDO_API_URL=TWFIDO_API_URL
