const MONGO_DATABASE = '<MONGO_DATABASE>';
const MONGO_DATABASE_USERNAME = '<MONGO_DATABASE_USERNAME>';
const MONGO_DATABASE_PASSWORD = '<MONGO_DATABASE_PASSWORD>';

db = db.getSiblingDB(MONGO_DATABASE);

db.createUser({
  user: MONGO_DATABASE_USERNAME,
  pwd: MONGO_DATABASE_PASSWORD,
  roles: [{ role: 'readWrite', db: MONGO_DATABASE }],
});
